


@media screen and (max-width:699px){/*Navegadores de dispositivos pequeños*/
        .grid_container{
        display: grid;
        grid-template-columns: 1fr;
        gap:10px;
        padding: 10px;
    }
    header {
        background-color: #AFCBFF;
        border-radius: 15px;
        border-color: #000000;
        border-style: solid;
        border-width: 4px;
        text-align: center;
}
    
    

    
.navegacionMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
}

.navegacionMenu > li{
    padding: 10px;
    background-color: #fff7e6; 
    border-radius: 10px;
    
}
    
#plato_de_la_semana{
    background-color: #fff7e6;
    border-radius: 20px;
    
}


.galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.galeria img {
    flex-basis: 100%;
    border-radius: 8px;
}
main {/*Modificaciones del main*/
    background-color: #bed5ff;
    padding: 14px;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}   
    
}    /*Navegadores de dispositivos grandes*/
@media screen and (min-width: 700px){
    
.grid_container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,auto);
    grid-gap: 10px;
    grid-template-areas:
    "area1 area1 area1 area1 area1 area1"
    "area2 area2 area3 area3 area4 area4"
    "area5 area5 area5 area6 area6 area6"
    "area7 area7 area7 area8 area8 area8"
    "area9 area9 area9 . . .";
}
    
main {/*Modificaciones del main*/
    background-color: #bed5ff;
    padding: 14px;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 4px;
    text-align: center;
    
}   
    
.navegacionMenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
}
.navegacionMenu > li{
    padding: 5px;
    background-color: #fff7e6; 
    border-radius: 10px;
    
}

.galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.galeria img {
    flex: 1 1 33.33%; /* grow | shrink | basis */
    width: 100%;
    height: auto;
    border-radius: 8px;
}
    
    

#sobre_nosotros {
    grid-area: area1;
}
#menu{
    grid-area: area2;
}
#bebidas{
    grid-area: area3;
}
#postres{
    grid-area: area4;
}
#especialidades{
    grid-area: area5;
}
#promociones{
    grid-area: area6;
}
#plato_de_la_semana{
    grid-area: area7;
    background-image: url(Charquican1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 20px;
}

#videos_relacionados{
    grid-area: area8;
    
}

header {
        background-color: #AFCBFF;
        font-size: x-large;
        border-radius: 15px;
        border-color: #000000;
        border-style: solid;
        border-width: 4px;
        text-align: center;
}
    
h2 {
    font-size: xx-large;
}
    
}



@import url("listas.css");
table th:first-child{
    color: saddlebrown;
    font-weight: bolder;
}
table th:nth-child(2){
    color: dimgray
}

table td:first-child{
    font-weight: bold;
}
table td:nth-child(3){
    color: green;
}



a{
    text-decoration: none;
    color: #000000;
}




footer{
    background-color: #AFCBFF;
    padding: 20px;
    border-radius: 15px;
    border-color: #000000;
    border-style: solid;
    border-width: 4px;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color:#fff7e6; 
    border-radius: 15px;
    padding: 10px;
    
}



form {
    background-color: rgba(130, 179, 248, 0.58);   
    padding: 20px;
    width: 320px;
    border-radius: 12px;         /* bordes redondeados */
    border: 2px solid #000000;   /* borde  */
    margin: 20px auto;           /* centrar */
    font-size: larger;
    font-weight: 600;
    
}

input, #comentarios, select {
    width: 250px;
    padding: 8px;
    border: 2px solid #86b7f2; /* azul pastel */
    border-radius: 9px;        /* bordes redondeados */
    background-color: #d9ecff;  /* fondo */
    margin-bottom: 8px; /* espacio separador*/
    
}

.titulo {
    color:rgb(68, 112, 181);
    margin: 20px auto;           
    text-align: center;
}


button {
    padding: 7px 7px;
    border: none;
    border-radius: 8px;          /* Bordes redondeados */
    background-color: #8080d1;   /* Azul pastel */
    color: #fff;
}
@media print {
    * {
        color: black !important;
        background: white !important;
        print-color-adjust: exact;
    }

    img, video, iframe {
        filter: grayscale(100%);
    }

    #plato_de_la_semana {
        background-image: none !important;
    }
}

